h2 i {margin-left: 0px; margin-right: 0px;}
.fb-like{margin: 0px 0px 0px 10px;}

/* post */
.icon-xlarge{font-size: 1.8em;}

.post .post-meta i {color: #999;}
.post-meta .icons-share{position: absolute; bottom: 0px; left: 10px;}
.post-meta .icon-twitter-sign, .post-meta .icon-facebook-sign{color: #ddd}

.post .post-meta i {font-style: normal; margin-left: 10px; font-size: 12px}
.post-meta {position: relative;}
.post-meta a{text-decoration: none}


.icon-facebook-sign.hover { color: #133783 !important; }
.icon-twitter-sign.hover {color:#3C8FC9  !important;}

.post  img{ width: 200px; display: block; padding: 10px 0px;}
.post iframe {margin-top: 10px;}

.top-icons .icon-calendar, .top-icons .icon-list-alt{color: #999;}
/*.top-icons { color: #999;}*/

.post-meta .thumbs-down a, #people-satisfaction .thumbs-down {color: red; cursor: pointer}
.post-meta .thumbs-up a , #people-satisfaction .thumbs-up {color: green; cursor: pointer}
.post-meta .disabled {color: grey !important; cursor: not-allowed !important;}
.btn.dimmed, .btn.dimmed a {background-color: whitesmoke !important; color: #999 !important;}
/* /post */


/* promise */
/*.icon-thumbs-down, .icon-thumbs-down a {color: #fff; cursor: pointer}
.icon-thumbs-up, .icon-thumbs-up a {color: #fff; cursor: pointer}*/

.icon-minus-sign{color:red}
.icon-ok {color:forestgreen}
.icon-cog,  .icon-cogs {color:darkorange}
.icon-calendar{color: #08C}

.promise .promise-icon {font-size: 1.1em}

.promise.promise-done .promise-text, 
.promise.promise-done .promise-text a 
{color: forestgreen; }

.promise.promise-inprogress .promise-text, 
.promise.promise-inprogress .promise-text a 
{color: darkorange;}
.promise.promise-inprogress .promise-text a:hover{color: orange}

.promise.promise-not-done .promise-text, 
.promise.promise-not-done .promise-text a { color:grey}

.icon-group {padding: 0px 10px}
.notification{color:red; font-size: 0.8em}
.promise .meta-icons i { color: #ccc; font-size: 1.2em; margin: 0px 2px}
.top-icons i {font-size: 1.5em}
.tab-pane .span9 {margin: 0px}
/* /promise */


/* meter */
#header-meter .progress{height: 15px; }
#header-meter #people-satisfaction .progress {height: 16px; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;}
#header-meter #people-satisfaction .progress-success {-webkit-border-radius: 0px 5px 5px 0px; -moz-border-radius: 0px 5px 5px 0px; border-radius: 0px 5px 5px 0px;}
#header-meter #people-satisfaction .progress-danger {-webkit-border-radius: 5px 0px 0px 5px; -moz-border-radius: 5px 0px 0px 5px; border-radius: 5px 0px 0px 5px;}

#header-meter h4 {font-size: 1.5em}
